#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

//Pantallas pequeñas. Cambia el fondo a azul
@media (max-width: 600px) {
  #container {
    font-size: 30px;
    background-color: #8dcacc;
  }
}

//Pantallas medianas. Cambia el fondo a rojo
@media (min-width: 601px) and (max-width: 800px) {
  #container {
    font-size: 20px;
    background-color: #ff0000;
  }
}

//Pantallas grandes. Cambia el fondo a morado
@media (min-width: 801px) {
  #container {
    font-size: 18px;
    background-color: #db50b9;
  }
}


//Pantalla en horizontal. Hace que los botones ocupen todo el ancho de la pantalla
@media (orientation: landscape) {
  ion-button.full-width {
    width: 100%;
  }
}

//Si la app está en modo horizontal, se elimina el botón de reinicio y se muestra otro
ion-button#reiniciarAlto {

  @media (orientation: landscape) {
    display: none;
  }
}

//Si la app está en modo vertical, se elimina el botón de reinicio y se muestra otro
ion-button#reiniciarAncho {
  display: none;

  @media (orientation: landscape) {
    display: block;
  }
}